html, body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   height: 100%;
   width: 100%;
}

body {
  padding-top: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  display: block;
  padding-bottom: 12px;
  color: #41FC00;
}

ul, li {
  list-style-type: none;
  padding:0px; 
  margin: 0px;
}

img {
  padding: 4px;
  margin: 4px;
}

